{% extends "layouts/base.html" %}

{% block title %} Charts {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">

            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <div class="main-body">
                        <div class="page-wrapper">

                            <!-- [ Form ] start -->
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>Search Experiment</h5>
                                        </div>
                                        <div class="card-block">
                                            <form role="form" method="post" action="">
                                                <div class="row">
                                                    <div class="input-group mb-3"> 
                                                        <input type="number" name="InputRunID" class="form-control" placeholder="Enter Run ID" 
                                                            aria-label="Enter Run ID" aria-describedby="EnterRunID" value="{{form.InputRunID}}"> 
                                                        <div class="input-group-append"> 
                                                            <button class="btn btn-primary" type="submit">Submit</button> 
                                                        </div> 
                                                    </div>
                                                </div>
                                                {% if exp_ids %}
                                                <div class="row">
                                                    {% for exp_id in exp_ids %}
                                                    <div class="custom-control custom-checkbox custom-control-inline"> 
                                                        <input type="checkbox" id="{{ exp_id }}" class="custom-control-input" {% if exp_ids[exp_id] %} checked {% endif %}> 
                                                        <label class="custom-control-label" for="{{ exp_id }}">{{ exp_id }}</label> 
                                                    </div>
                                                    {% endfor %}
                                                </div>
                                                {% endif %}
                                            </form>                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- [ Form ] end -->

                            <!-- [ ChartResults ] start -->
                            <div class="row">
                                {% for measure in exp %}
                                    <div class="col-xl-6">
                                        <div class="card">
                                            <div class="card-header">
                                                <h5>{{measure | capitalize }}</h5>
                                            </div>
                                            <div class="card-block">
                                                <canvas id="linechart-{{measure}}" height="296" style="display: block; box-sizing: border-box; height: 296px; width: 356px;" width="356"></canvas>
                                            </div>
                                        </div>
                                    </div> 
                                {% endfor %}
                            </div>
                            <!-- [ ChartResults ] end -->

                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

    <!-- chart Js -->
    <script src="{{ config.ASSETS_ROOT }}/plugins/chartjs/chart.umd.js"></script>
    <script>
        {% for measure in exp %}
            myChart = new Chart(
                document.getElementById('linechart-{{measure}}'),
                {
                    type: 'line',
                    options: {scales: {
                        x:{
                            title: {
                                display: true,
                                text: {{ exp[measure].xlabel | safe }}
                            }
                        },                        
                        y:{
                            title: {
                                display: true,
                                text: {{ exp[measure].ylabel | safe }}
                            }
                        },
                    }},
                    data: {{ exp[measure].data | safe }}
                }
            );
        {% endfor %}
    </script>

{% endblock javascripts %}